<html>
    <head>
        <style>
            body{
                background-color: antiquewhite;
        }

        </style>
    </head>
<h1>Privacy Policy</h1>

<h2>Effective Date: 23rd June 2024</h2>

<p>Welcome to Chef Connect. We take your privacy seriously and wish to inform you of the ways in which we use and protect your personal information. This privacy policy sets out how we collect personal information, the purpose of collecting that information, and your rights in regard to that information.</p>


<h3>1. Personal Information We Collect</h3>

<p>We collect personal information from you when you visit our website, register, submit recipes, use or view our website via your browser's cookies.

The personal information that you are required to provide to us when you register is your name, email address, username, password and any other information you may want to include. Registered Chef Connect users will be invited to submit a recipe. It is during this process that we will collect the recipes and any other content submitted by that user.

If you communicate with us via email or contact form, or otherwise, complete forms, survey's, comment on any area of our website, we may collect the following information: your name, email address, and the contents of the message and other information you provide to us.

We use your information for the following purposes:<br />

1.For personal identification<br />
2.To provide our services<br />
3.For customer service or enquiries<br />
4.For improvement of our services<br />
5.For improvement of user experience<br />
6.To provide you with information, products or services that you request from us or which we feel may interest you, where you have consented to be contacted for such purposes<br />
7.From time to time, we may contact you on behalf of external business partners about a particular offering that may be of interest to you. In those cases, we do not transfer your personal information to the third party.</p>

<h3>3. Disclosure Required by Law</h3>

<p>We may also disclose your personal information: In response to legal requests or obligations, such as complying with court orders or law enforcement investigations.</p>

<h3>4. Your Rights</h3>

<p>You may have certain rights regarding your personal information, including the right to access, correct, or delete your information. You also have the right to opt-out of certain communications and marketing activities. Please contact us using the information provided below to exercise your rights.</p>

<h3>5. Security Measures</h3>

<p>We have implemented security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, no means of transmission over the internet, or method of electronic storage, is fully secure, and we cannot guarantee absolute security.</p>

<h3>6. Children's Privacy</h3>

<p>Our website is not targeted toward children under 13 years of age, and we do not knowingly collect personal information from children. If you believe that we have accidentally collected personal information from a child, please contact us so we can take the necessary actions.</p>

<h3>7. Changes to This Privacy Policy</h3>

<p>We may update or change our Privacy Policy from time to time. Any new policy will become effective immediately upon posting on our website.</p>

<h3>8. Contact Us</h3>

<p>If you have any questions or concerns about this Privacy Policy or the way your personal information is being handled, please write to us at chefconnect@gmail.com.</p>
</html>