<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chef Connect</title>
    <link rel="stylesheet" href="/css/Srecipe.css">
</head>
<body>
    <header>
        <h1>3 Must Try Summer Recipes</h1>
        <div class="menu-icon" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <nav>
            <ul id="menu">
                <li><a href="Homepage.html">Home</a></li>
                <li><a href="Tips_and_hacks.html">Tips and Hacks</a></li>
                <li><a href="Cooking_techniques.html">Cooking techniques</a></li>
                <li><a href="blogg.html">Blog</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-content">
        <h2>Fresh Fruit Salad</h2>
        <img src="/images/fruits.webp" alt="Fresh Fruit Salad" width="250px" height="250px">
        <p>Fruit Salad Ingredients:<br>
        Sauce:
            ⅔ cup fresh orange juice<br>
            ⅓ cup fresh lemon juice<br>
            ⅓ cup packed brown sugar<br>
            ½ teaspoon grated orange zest<br>
            ½ teaspoon grated lemon zest<br>
            1 teaspoon vanilla extract<br>
        Salad:
            2 cups cubed fresh pineapple<br>
            2 cups strawberries, hulled and sliced<br>
            3 kiwi fruit, peeled and sliced<br>
            3 bananas, sliced<br>
            2 oranges, peeled and sectioned<br>
            1 cup seedless grapes<br>
            2 cups blueberries<br>
            <br>
            <strong>How to Make a Fruit Salad</strong>
            <h3>Step 1:</h3>
            Gather the ingredients.
            <br>
            <h3>Step 2:</h3>
            For the sauce: Bring orange juice, lemon juice, brown sugar, orange zest, and lemon zest to a boil in a saucepan over medium-high heat. 
            Reduce heat to medium-low and simmer until slightly thickened, about 5 minutes.
            <br>
            <h3>Step 3:</h3>
            Remove from heat and stir in vanilla extract. Set aside to cool.
            <br>
            <h3>Step 4:</h3>
            For the salad: Layer fruit in a large, clear glass bowl in this order: pineapple, strawberries, kiwi fruit, bananas, oranges, grapes, and blueberries.
            Pour cooled sauce over fruit; cover and refrigerate for 3 to 4 hours before serving.
            <br><br>
        </p>
    </div>

    <div class="other-summer-recipes">
        <div class="summer-recipes">
            <div class="recipe-item">
                <div class="recipe-card" onclick="toggleRecipe('recipe2')">
                    <div class="recipe-front">
                        <img src="/images/berry.jpg" alt="Recipe 2">
                    </div>
                    <div class="recipe-back">
                        <p>Celebrate summer berries in a fresh berry tart—a filling of mascarpone and whipped cream inside a rich, all-butter crust that you just pat in the pan. 
                            It's impressive, yet so easy to make.</p>
                    </div>
                </div>
                <div id="recipe2" class="hidden">
                    <p>Recipe 2: Summer Berry tart</p>
                    <p>Ingredients:<br>
                        <h4>For the crust</h4>
                        1 1/2 cup (200g) all-purpose flour
                        1/2 cup (50g) powdered sugar
                        1/8 teaspoon kosher salt
                        1/2 cup plus 2 tablespoons (10 tablespoons or 140g) unsalted butter, very cold, cut into 1/2-inch cubes
                        1 egg, lightly beaten
                        1/4 teaspoon vanilla extract
                        <br />

                        <h4>For the filling</h4>
                        1 cup (8 ounces) mascarpone cheese, room temperature
                        1/4 cup (60ml) cold heavy cream
                        1/3 cup (43g) powdered sugar
                        1 teaspoon orange or lemon zest
                        1/2 teaspoon vanilla extract
                        3 ounces (85g) raspberries
                        8 ounces (225g) blueberries
                        8 ounces (225g) strawberries, stems removed and halved or quartered
                        4 tablespoons (60ml) apricot jelly or orange marmalade
                        2 tablespoons water
                        1 teaspoon red wine vinegar or lemon juice<br>
                    </p>
                    <p>Instructions:<br>
                        <h4>1. Make the tart dough:</h4>
                        In a food processor, add the flour, powdered sugar, and salt. Pulse a couple times to combine.
                        Add the cubed cold butter and pulse several more times until the largest piece of butter is the size of a pea.
                        Add the egg and vanilla extract. Pulse a few more times until the dough begins to form clumps and pull away from the side of the food processor.
                        <br />
                        <br />
                        <h4>2. Press the dough into the tart pan and freeze:</h4>
                        Lightly grease the inside of a tart pan (with removable bottom) with butter.
                        Dump the clumpy dough into the tart pan and spread out evenly with your fingers along the bottom and up the sides of the tart shell. You don't have to press too hard; if the dough is still a little clumpy, that's okay.
                        Freeze the unbaked tart shell for at least 30 minutes.
                        <br />
                        <br />
                        <h4>3. Bake the tart shell:</h4>
                        Preheat oven to 350°F (175°C).
                        Butter the shiny side of a piece of aluminum foil and fit it, buttered side down, against the frozen tart shell, covering the edges so they don't burn.
                        Fill the shell with pie weights (or if you don't have pie weights, you can use dried beans or rice).
                        Bake for 20 minutes, then remove from the oven and let cool a few minutes. Remove the foil and pie weights.
                        <br />
                        <br />
                        <h4>4. Return the empty tart shell to the oven and cook for 10 minutes more:</h4>
                        Return the tart shell to the oven and cook, uncovered, for an additional 10 minutes, until golden.
                        Remove from the oven and let cool completely on a rack before filling.
                        <br />
                        <br />
                        <h4>5. Make the filling:</h4>
                        In a medium bowl, use a mixer or whisk to beat the mascarpone, cream, powdered sugar, zest, and vanilla extract until stiff peaks form.
                        Use a rubber spatula to spread the filling into the cooled tart shell.
                        <br />
                        <br />
                        <h4>6. Arrange the berries:</h4>
                        Top the mascarpone filling with the berries, arranging them in a decorative pattern.
                        <br />
                        <br />
                        <h4>7. Make the jelly glaze:</h4>
                        In a small saucepan over low heat, melt the jelly with water and vinegar. Remove from heat and let cool slightly.
                        <br />
                        <br />
                        <h4>8. Glaze the tart:</h4>
                        Use a pastry brush to lightly brush the tops of the berries with the melted jelly mixture.
                        Serve immediately, or refrigerate and serve within a few hours.
                        <br />
                        <br />
                    </p>
                </div>
            </div>
            <div class="recipe-item">
                <div class="recipe-card" onclick="toggleRecipe('recipe3')">
                    <div class="recipe-front">
                        <img src="/images/veggie.jpg" alt="Recipe 3">
                    </div>
                    <div class="recipe-back">
                        <p>These zucchini, bell pepper, and mushroom veggie kabobs also contain pineapple for a nice and easy way to enjoy grilled vegetables. 
                            Serve this dish for a light main course or as a side during the summertime.</p>
                    </div>
                </div>
                <div id="recipe3" class="hidden">
                    <p>Recipe 3: Grilled Vegetable Skewers</p>
                    <p>Ingredients:<br>
                        1 fresh pineapple, cut into chunks
                        2 medium zucchinis, cut into 1-inch slices                    
                        2 medium yellow squash, cut into 1-inch slices                    
                        ½ pound whole fresh mushrooms                    
                        1 medium red onion, cut into chunks                    
                        12 cherry tomatoes                    
                        1 medium red bell pepper, cut into chunks               
                        8 bamboo skewers, soaked in water for 20 minutes
                        ⅓ cup olive oil
                        1 ½ teaspoons dried basil                    
                        ¾ teaspoon dried oregano                    
                        ½ teaspoon salt                    
                        ⅛ teaspoon ground black pepper
                    </p>
                    <p>Instructions:<br>
                    1. Gather all the ingredients<br>
                    2. Preheat a grill for medium heat and lightly oil the grate.
                       Alternately thread pineapple chunks, zucchini slices, yellow squash slices, mushrooms, onion chunks, tomatoes, and bell pepper chunks onto skewers.<br>
                    3. Whisk olive oil, basil, oregano, salt, and black pepper in a bowl; brush some of the mixture over vegetables.<br>
                    4. Cook skewers on the preheated grill until vegetables are tender, turning and basting vegetables with remaining olive oil mixture occasionally, 10 to 15 minutes.<br>
                    5. Serve warm and enjoy!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        function toggleMenu() {
            const nav = document.querySelector('nav ul');
            const menuIcon = document.querySelector('.menu-icon');
            nav.classList.toggle('show');
            menuIcon.classList.toggle('open');
        }

        function toggleRecipe(recipeId) {
            const recipe = document.getElementById(recipeId);
            recipe.classList.toggle('hidden');
        }
    </script>
</body>
</html>
