<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chef Connect - Recipe</title>
    <link rel="stylesheet" href="/css/blogg.css">
</head>
<body>
    <header>
        <h1>Chef Connect</h1>
        <nav>
            <ul>
                <li><a href="homepage.html">Home</a></li>
                <li><a href="Tips_and_hacks.html" target="_blank">Tips and Hacks</a></li>
            </ul>
        </nav>
    </header>

    <div class="recipe-content">
        <h2>Strawberry Blueberry Smoothie</h2>
        <img src="/images/Shakes.jpg">
        <p>Ingredients needed:
            3 cups Strawberries, fresh or frozen
            OR any mix of red berries
            1 cup Blueberries, fresh or frozen
            1-2 cups Water, adjust for your preferred thickness
            Splash Lemon juice, to taste
            Ice to taste
            1/2 cup Greek Yogurt, fat level is your choice
            1 cup / 107 g Cauliflower
            OR Spinach, if you dont mind the yucky color that results
            1 Tbs ground Flaxseed (about 7 grams)
            1 Tbs / 4 g Pumpkin seeds
            1/4 to 1 cup / 20 g to 100 g Oats, adjust the calories as necessary
            <br />
            <br />
            <br />
            <strong>How to Make Strawberry Blueberry Smoothie</strong>
            <p>Blend all the ingredients mentioned above until smooth and enjoy!</p>
        <h3>Other Recipes</h3>
        <div class="other-recipes">
            <div class="recipe">
                <a href="Trecipe_1.html">
                    <img src="/images/recipe1.jpg" alt="Recipe 1">
                </a>
                <h4>General Tso's chicken</h4>
            </div>
            <div class="recipe">
                <a href="Trecipe_2.html">
                    <img src="/images/butterchicken.jpeg" alt="Recipe 2">
                </a>
                <h4>Butter Chicken</h4>
            </div>
            <div class="recipe">
                <a href="Trecipe_3.html">
                    <img src="/images/dessert.jpeg" alt="Recipe 3">
                </a>
                <h4>Mini Oreo Cheesecake</h4>
            </div>
            <div class="recipe">
                <a href="Trecipe_4.html">
                    <img src="/images/kebab.jpeg" alt="Recipe 4">
                </a>
                <h4>kebab</h4>
            </div>
        </div>
    </div>
</body>
</html>