<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chef Connect - Recipe</title>
    <link rel="stylesheet" href="/css/blogg.css">
</head>
<body>
    <header>
        <h1>Chef Connect</h1>
        <nav>
            <ul>
                <li><a href="homepage.html">Home</a></li>
                <li><a href="Tips_and_hacks.html">Tips and Hacks</a></li>
            </ul>
        </nav>
    </header>

    <div class="recipe-content">
        <h2>General Tso's chicken</h2>
        <img src="/images/recipe1.jpg">
        <p>Ingredients needed:
            1. Chicken thighs (boneless, skinless) OR chicken breast
            2. 2 eggs
            3. flour
            4. cornstarch
            ginger
            garlic
            olive oil
            chicken stock
            soy sauce
            brown sugar
            rice vinegar
            hoisin sauce
            <br />
            <br />
            <br />
            <strong>How to make General Tso's chicken?</strong>
            <h3>Step 1: the chicken</h3>
            Cut chicken into bite-size pieces, dip in beaten eggs and then in flour mixture.
            Fry in hot oil until crispy.
            Fried Asian chicken. 
            <br />
            <br />
            <br />
            <h3>Step 2: the sauce</h3>
            Saute garlic and ginger in a skillet.
            Mix sauce ingredients and add to skillet. Bring to simmer.
            Add chicken and toss together.
            Making Asian sauce and chicken. 
            <br /><br />
            <br />
            <br />
            <strong>What does it taste like?</strong>
            The chicken is crispy but will soak up the sauce. 
            The sauce is sweet with definite Asian flavors, 
            thanks to the soy sauce and hoisin sauce.
            <br />
            <br />
            <br />
            <strong>How to make it healthy?</strong>
            To save on calories, skip the coating for chicken and simply saute the pieces in a skillet with oil until no longer pink. Add sauce and bring everything to simmer. Serve over rice.
            <br />
            <br />
            <br />
            <strong>INSTRUCTIONS</strong>
 
            In a small bowl, combine flour and cornstarch.
            Beat eggs in another small bowl.
            Heat up vegetable oil in a deep pot. When it reaches 340 degrees, it's ready for frying.
            Dip each piece of chicken in eggs, then in flour mixture. Carefully drop into the hot oil. Fry 5 to 6 pieces at a time. Fry for 3 to 4 minutes, turning once. Remove onto a paper towel.
            In a skillet, heat up olive oil. Add garlic and ginger and saute for 2 minutes.
            In a measuring cup or a small bowl, whisk together chicken stock, soy sauce, sugar, vinegar, hoisin sauce and cornstarch. Add to skillet and bring to simmer.
            Add fried chicken to sauce and toss together.
            Serve with rice and steamed vegetables.</p>
            <br />
            <br />
            <br />
        <h3>Other Recipes</h3>
        <div class="other-recipes">
            <div class="recipe">
                <a href="Trecipe_2.html">
                    <img src="/images/butterchicken.jpeg" alt="Recipe 2">
                </a>
                <h4>Butter Chicken</h4>
            </div>
            <div class="recipe">
                <a href="Trecipe_3.html">
                    <img src="/images/dessert.jpeg" alt="Recipe 3">
                </a>
                <h4>Mini Oreo Cheesecake</h4>
                
            </div>
            <div class="recipe">
                <a href="Trecipe_4.html">
                    <img src="/images/kebab.jpeg" alt="Recipe 4">
                </a>
                <h4>Kebab</h4>
            </div>
            <div class="recipe">
                <a href="Trecipe_5.html">
                    <img src="/images/Shakes.jpg" alt="Recipe 5">
                </a>
                <h4>Strawberry Blueberry Smoothie</h4>
            </div>
        </div>        
    </div>
</body>
</html>