<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chef Connect - Recipe</title>
    <link rel="stylesheet" href="../css/blogg.css">
</head>
<body>
    <header>
        <h1>Chef Connect</h1>
        <nav>
            <ul>
                <li><a href="homepage.html">Home</a></li>
                <li><a href="Tips_and_hacks.html" target="_blank">Tips and Hacks</a></li>
            </ul>
        </nav>
    </header>

    <div class="recipe-content">
        <h2>Mini Oreo Cheesecake</h2>
        <img src="/images/dessert.jpeg">
        <p>Ingredients needed:
            Oreo cookie crumbs
            Granulated sugar
            Salted butter
            Heavy cream
            Cream cheese
            Powdered sugar
            Vanilla extract
            Oreo cookies
            Chocolate chips
            Mini Oreo cookies
            <br />
            <br />
            <br />
            <strong>How to Make Mini Oreo Cheesecakes</strong>
            <h3>Step 1: Make the chocolate cookie crust:</h3>
            In a mixing bowl, stir together the Oreo cookie crumbs, granulated sugar, and melted salted butter. Portion the crumbs into the mini cheesecake pan using a small cookie scoop (about 1 tablespoon).
            Firmly press the crumbs into the bottom of the pan to form the crust. Set aside.
            <br />
            <br />
            <br />
            <h3>Step 2:Make the Oreo cheesecake filling: </h3>
            In a large bowl, use an electric hand mixer to cream the cream cheese, powdered sugar, and vanilla extract until smooth. 
            Pour in the heavy cream and whip the cheesecake mixture on medium-high speed until the mixture thickens and becomes light and fluffy. 
            Fold in the chopped Oreo cookies.
            <br /><br />
            <br />
            <br />
            <h3>Step 3:Fill the cheesecakes: </h3>
            Fill a piping bag with the Oreo cheesecake mixture and pipe it onto the Oreo cookie crusts, slightly above the top of the pan. 
            Chill the cheesecakes in the refrigerator for 12 hours or overnight.
            After chilling, remove the cheesecakes from the pan.
            <br /><br />
            <br />
            <br />
            <h3>Step 4:Make the chocolate ganache:</h3>
            To make the chocolate ganache, combine the semisweet chocolate chips and heavy cream in a microwave-safe bowl. 
            Heat the chocolate and cream in the microwave in 15 second intervals, stirring in between each interval, until the chocolate is melted and the ganache is smooth. 
            Set aside to cool slightly.
            <br /><br />
            <br />
            <br />
            <h3>Step 5:Make the whipped cream:</h3>
            To make the whipped cream, in a bowl with an electric mixer, whip the heavy cream, powdered sugar and vanilla extract until medium-stiff peaks form.
            Fill a piping bag fitted with a Wilton 1M piping tip with the whipped cream.
            <br /><br />
            <br />
            <br />
            <h3>Step 6:Assemble the cheesecakes:</h3>
            To assemble the cheesecakes, pipe or spoon the slightly cooled chocolate ganache on the top of the cheesecakes. 
            Pipe a small swirl of whipped cream on top of the ganache. 
            Sprinkle the cheesecakes with Oreo cookie crumbs and top each cheesecake with a mini Oreo cookie.
            <br /><br />
            <br />
            <br />
            <h3>Recipe Tips</h3>
            <p>If you do not have a mini cheesecake pan, you can use a cupcake or muffin pan </p>.
            <p>If you are using a standard cupcake pan, the yield of the recipe will be about 12 to 14 mini cheesecakes. </p>
            <p>Use cupcake liners for easy removal.</p>
            <p>Use a food processor to make Oreo cookie crumbs. You could seal the cookies in a resealable storage bag and crush them with a rolling pin.</p>
            <p>Use a small cookie scoop to portion the Oreo cookie crumbs into the mini cheesecake pan. This is equivalent to about 1 tablespoon.</p>
            <p>To remove the cheesecakes from the pan, I recommend inserting a toothpick into the top of the cheesecake as you press up on the mini cheesecake pan's removable bottom.</p>
            <p>Store the mini cheesecakes in an airtight container in the refrigerator for about 3 days. Serve chilled.</p>
        <h3>Other Recipes</h3>
        <div class="other-recipes">
            <div class="recipe">
                <a href="Trecipe_1.html">
                    <img src="/images/recipe1.jpg" alt="Recipe 1">
                </a>
                <h4>General Tso's chicken</h4>
            </div>
            <div class="recipe">
                <a href="Trecipe_2.html">
                    <img src="/images/butterchicken.jpeg" alt="Recipe 2">
                </a>
                <h4>Butter Chicken</h4>
            </div>
            <div class="recipe">
                <a href="Trecipe_4.html">
                    <img src="/images/kebab.jpeg" alt="Recipe 4">
                </a>
                <h4>Kebab</h4>
            </div>
            <div class="recipe">
                <a href="Trecipe_5.html">
                    <img src="/images/Shakes.jpg" alt="Recipe 5">
                </a>
                <h4>Strawberry Blueberry Smoothie</h4>
            </div>
        </div>
    </div>
</body>
</html>